<div>
    <h2 id="page-heading">
        <span jhiTranslate="langLearnHipsterApp.glossary.home.title">Glossaries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-glossary" [routerLink]="['/glossary/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="langLearnHipsterApp.glossary.home.createLabel">
            Create a new Glossary
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="glossaries?.length === 0">
        <span jhiTranslate="langLearnHipsterApp.glossary.home.notFound">No glossaries found</span>
    </div>
    <div class="table-responsive" *ngIf="glossaries?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="glosName"><span jhiTranslate="langLearnHipsterApp.glossary.glosName">Glos Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lang1"><span jhiTranslate="langLearnHipsterApp.glossary.lang1">Lang 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lang2"><span jhiTranslate="langLearnHipsterApp.glossary.lang2">Lang 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="langLearnHipsterApp.glossary.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let glossary of glossaries ;trackBy: trackId">
                <td><a [routerLink]="['/glossary', glossary.id, 'view' ]">{{glossary.id}}</a></td>
                <td>{{glossary.glosName}}</td>
                <td>{{glossary.lang1}}</td>
                <td>{{glossary.lang2}}</td>
                <td>
                    {{glossary.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/glossary', glossary.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/glossary', glossary.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/glossary', { outlets: { popup: glossary.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
